<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="DiAs Logo" src="../src/assets/images/logoTest.PNG">
</div>

<ul>
  <!--  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>


  </li>
  -->
  <li>
    <h2>
        <a class="nav-link text-dark"  [routerLink]='["/demo-dash-board"]'>Get Coin Function List   </a>
      </h2>
  </li>

  <!--

  <li>
    <h2>
        <a class="nav-link text-dark" target="_blank" [routerlink]='["/demo-dash-board"]'>get coin list open new window</a>
      </h2>
  </li>
-->
</ul>
<hr>
<router-outlet></router-outlet>
