

<button  class="btn-primary"  (click)="TimerFlowAll()">Timer Flow Test</button>
<hr>

<button  class="btn-primary"  (click)="TimerFlowTestAlis()">Timer Flow Test Alış </button>
<hr>
<button  class="btn-primary"  (click)="TimerFlowTestSatisSaatlik()">Timer Flow Test Satış Saatlik</button>
<hr>
<button  class="btn-primary"  (click)="TimerFlowTestSatisDakikalik()">Timer Flow Test Satış Dakikalık</button>
<hr>

<button  class="btn-primary"  (click)="TimerMaFlow()">Ma Flow Saatlik</button>
<hr>
<button  class="btn-primary"  (click)="MaSatis()">Ma Satış Saatlik</button>
<hr>
<button  class="btn-primary"  (click)="MaAlis()">Ma Alış Saatlik</button>
<hr>

<br>
<button  class="btn-primary"  (click)="HoplamaSatis()">Hoplama Satis</button>
<hr>
<br>
<button  class="btn-primary"  (click)="MyBalanceList()">My Balance</button>
<hr>
<button  class="btn-primary"  (click)="FlowTestAlis()">Flow Test Alış </button>
<hr>
<button  class="btn-primary"  (click)="FlowTestSatisSaatlik()">Flow Test Satış Saatlik</button>
<hr>
<button  class="btn-primary"  (click)="FlowTestSatisDakikalik()">Flow Test Satış Dakikalık</button>
<hr>
<button  class="btn-primary"  (click)="MyTradeList()">MyTradeList</button>
<hr>
<button  class="btn-primary"  (click)="LocalService()">LocalService</button>
<hr>

<button  class="btn-primary"  (click)="Test15MKline()">Test15MKline  </button>
<hr>
<button  class="btn-primary"  (click)="TestHline()">TestHline  </button>
<hr>

<button  class="btn-primary"  (click)="GetServerTime()">GetServerTime  </button>
<hr>
<button  class="btn-primary"  (click)="GetCurrencyFromApi()">GetCurrencyFromApi Test</button>
<hr>



<button  class="btn-primary"  (click)="GetCurrencyTimePast()">GetCurrencyTimePast</button>
<hr>
<button  class="btn-primary"  (click)="GetCoinPrice()">Get Coin Price</button>
<hr>
<button  class="btn-primary"  (click)="GetCoinList()">Get Coin List</button>
<hr>
<button  class="btn-primary"  (click)="SaveCoinList()">Save Coin List</button>
<hr>
<button  class="btn-primary"  (click)="GetKlineList()">GetKlineList</button>
<hr>

<button  class="btn-primary"  (click)="GetKlineListXRP()">GetKlineListXRP</button>
<hr>
<button  class="btn-primary"  (click)="Get24hTicker()">Get24hTicker</button>
<hr>

<button  class="btn-primary"  (click)="GetPrice()">GetPrice</button>
<hr>

<button  class="btn-primary"  (click)="TestSigned()">TestSigned</button>
<hr>


<button  class="btn-primary"  (click)="NewOrderBuy()">NewOrderBuy</button>
<hr>

<button  class="btn-primary"  (click)="NewOrderSell()">NewOrderSell</button>
<hr>

<button  class="btn-primary"  (click)="GetServerTime()">GetServerTime</button>
<hr>
<button  class="btn-primary"  (click)="GetPriceXRP()">GetPriceXRP</button>
<hr>
<button  class="btn-primary"  (click)="GetKlineListXRP24h()">GetKlineListXRP24h</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="MaDongu()">MaDonguBarkin</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="FiyatAl()">FiyatÇek</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="GetKlineList24hCoin()">GetKlineList24hCoin</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="GetMacd()">GetMacd</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="FlowMacd()">FlowMacd</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="MacdSimulation()">MacdSimulation</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="ControlPriceIsLoss()">ControlPriceIsLoss</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="RsiMacdCalculate()">RsiMacdCalculate</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="RsiMacdDirekt()">RsiMacdDirekt</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="RsiMacdAlgorithm()">RsiMacdAlgorithm</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="GetAwesome()">GetAwesome</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="GetAll()">GetAll</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="GetMfiMacd()">GetMfiMacd</button>
<hr>

<hr>
<button  class="btn-primary"  (click)="MacdMfi20Alt()">MacdMfi20Alt</button>
<hr>
<hr>
<button  class="btn-primary"  (click)="Denemefonk()">Denemefonk</button>
<hr>

